<li class="lenList">
  <div class="lenTile">
    {{#link-to 'len' len.id}}
    <div>
      <img class="lenImage"src="{{len.image}}">
    </div>
    <h3>{{len.type}}</h3>
    {{/link-to}}
  </div>
</li>
