<h1>Create A Listing</h1>
<hr>
{{#each model as |len|}}
   {{len-tile len=len}}
   {{update-len len=len updateLen="updateLen"}}
   <button {{action 'delete' len}}>Delete Lens</button>
{{/each}}
<hr>
{{new-len len=model saveLen="saveLen"}}
